body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-cont {
  height: 100vh;
  display: flex;
  justify-content: center;
}

form {
  margin-top: 150px;
}

.form-title {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.results {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.wait {
  color: yellow;
}